        <li class="nav-item">
          <a class="nav-link" href="/messages"><i class="bi bi-chat-dots"></i> Messages</a>
        </li>
        <% if (typeof user !== 'undefined' && user && (user.isAdmin || user.role === 'admin')) { %>
        <li class="nav-item">
          <a class="nav-link" href="/users"><i class="bi bi-people"></i> Users</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/files"><i class="bi bi-file-earmark"></i> Files</a>
        </li> 